<!DOCTYPE html>
<html>
<head>
    <title>Tonk</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../profile.css">
</head>
<body class="body">
<div class="container">

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="userBox">
            <div class="well">
                <div class="page-header text-center">
                    <h1>My Profile</h1><br>
                    <strong>id</strong>: <span id="user" data-user="<%= user._id %>"><%= user._id %></span> <br>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>            
            </div>
        </div>

        <a href="/profile"><h2>Home</h2></a>

        <div class="col-sm-6">
          <h3>Tables</h3>
              <% if (tableInfo) {%>
                <p id="message"></p>
                  <section class="table">
                        <p> <%= JSON.stringify(tableInfo)%></p>
                        <h1><%= tableInfo[0]['tableName']%></h1>
                        <input type="text" class="hide" name="players" value="<%= JSON.stringify(tableInfo[0]['players'])%>">
                        <input type="text" class="hide" name="tableId" value="<%= tableInfo[0]['_id']%>">
                        <input type="text" class="hide" name="limit" value="<%= parseInt(tableInfo[0]['avalPlayers'])%>">
                  </section>
                  <% for (let i=0; i < tableInfo[0]['players'].length; i++) { %>
                    <% if (JSON.stringify(tableInfo[0]['players'][i]) !== JSON.stringify(user._id) &&  tableInfo[0]['players'].length <= tableInfo[0].avalPlayers) {%>
                        <button id="join">Join Table</button>
                        <% } %>
                    <% if (JSON.stringify(tableInfo[0]['players'][i]) === JSON.stringify(user._id)) {%>
                        <main>
                            <section class="game">
                                <section class="display"></section>
                                <p class="start">
                                        <% if (tableInfo[0]['deck']) { %>
                                            <% if (tableInfo[0]['deck'].shuffled === false) { %>
                                                <button class="shuffle" data-deck_id="<%= tableInfo[0]['deck'].deck_id%>">Shuffle</button>
                                            <% } %>
                                        <% } else { %>
                                        <button class="getDeck">Get Deck</button>
                                        <% } %>
                                </p>
                                <p class="play">
                                        <button class="getCards">Get Cards</button>
                                        <button class="discard">Discard</button>
                                        <button class="drawDeck">Draw from deck</button>
                                        <button class="drawPile">Draw from pile</button>
                                        <button class="drop">Drop</button>
                                </p>
                            </section>
                        </main>
                      <% } %>
                  <% } %>
              <% } %>
              
</div>

<script src="../main.js"></script>
<script src="../card.js"></script>

</body>
</html>
